* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.real {
    font-family: 'Pirata One', cursive;
    background: linear-gradient(135deg, #005B96, #3A539B);
    color: #FFF9C4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1100px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSE0ZEM0Spbv4-MtOZfsnptKosA4SUsYtyBuw&s');
    background-size: cover;
    margin-left: -20px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
    margin-left: 20px;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 15px;
    top: 70px;
    border: 4.5px solid #DEDBDB;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
    height: 900px;
    width: 450px;
    text-align: center;
    background-image: url('rodrygo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container2 {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 15px;
    border: 4.5px solid #DEDBDB;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
    max-width: 450px;
    width: 100%;
    text-align: center;
    background-image: url('endrick.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 26px;
    color: #DEDBDB;
    text-shadow: 2px 2px 4px #000;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #DEDBDB;
}

select,
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: #DEDBDB;
    color: black;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 4px 8px black;
}

select:focus,
input[type="text"]:focus {
    background-color: ghostwhite;
    outline: none;
    transition: 0.4s;
    border-radius: 10px;
    box-shadow: 0 0 10px black, 0 0 30px #DEDBDB, 0 0 50px #DEDBDB;
}

button {
    width: 48%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #005B96;
    color: #DEDBDB;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #005B96;
    transition: 0.4s;
    border-radius: 10px;
    box-shadow: 0 0 10px #DEDBDB, 0 0 30px #FFD700, 0 0 50px #FFD700;
}

.results {
    margin-top: 20px;
    text-align: center;
}

.results div {
    padding: 13px;
    margin-bottom: 10px;
    background-color: grey;
    border-radius: 5px;
    font-size: 16px;
    transition: transform 0.25s ease;
    color: black;
    font-weight: 700;
    font-style: italic;

}

.results div:hover {
    transform: translateY(-5px);
    background-color: #DEDBDB;
    opacity: 0.8;

}

.btn-group {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1100px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .container {
        max-width: 100%;
    }
}